@charset "utf-8";

.theme_bg {
  position: fixed;
}

.about_ttlArea {
  position: absolute;
  top: 28%;
  left: 60%;
}

.about_intro img {
  width: 296px;
  margin-top: 16vh;
  margin-bottom: 5%;
  margin-left: 20%;
}

.about_textArea {
  width: 60%;
  margin-bottom: 5%;
  margin-left: 20%;
}

.about_auth {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 4%;
}

.about_auth span {
  font-family: 'Ranga';
  font-size: 20px;
  font-weight: 400;
  margin-left: 24px;
  vertical-align: middle;
}

.about_text {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: .2px;
}

/* スキルセクション */
.about_skills {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 64vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about_skills::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: inherit;
  height: inherit;
  background-color: #b9d1ea;
  opacity: .4;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.about_skill_item {
  position: relative;
  z-index: 5;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 5%;
}

.about_skill_item:last-child {
  margin-bottom: 0;
}

.about_skill_ttl {
  font-family: 'Ranga';
  font-size: 40px;
  font-weight: 400;
  text-align: end;
  color: #00235e;
  width: 14%;
}

.about_skill_ttl::after {
  content: '';
  position: relative;
  top: -10px;
  right: 0;
  display: block;
  width: 100%;
  border-bottom: 1px solid #00235e;
}

.about_skill_img {
  width: 20%;
}

.about_skill_text {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: .2px;
  color: #00235e;
  width: 66%;
}
/* スキルセクションここまで */

/* コンタクトセクション */
.about_contact {
 height: calc(100vh - 64px);
 padding-top: 30vh;
}

.about_contact_ttl {
  width: 60%;
  margin: 0 auto 14vh;
  line-height: .55;
  border-bottom: 1px solid #00235e;
  text-shadow: none;
}

/* フッターエリア */
footer {
  position: static;
  transform: none;
  text-align: center;
}

footer p {
  height: 64px;
  line-height: 64px;
}


/* スマホサイズ */
@media screen and (max-width: 768px) {
  /* .theme_bg p:last-child {
    line-height: 1;
  } */

  .about_ttlArea {
    position: static;
    margin-top: 14vh;
    margin-bottom: 2vh;
    margin-left: 3vw;
  }

  .about_intro img {
    width: 46vw;
    margin-top: 0;
    margin-bottom: 8vh;
    margin-left: 3vw;
  }

  .about_textArea {
    width: 94vw;
    margin-left: 3vw;
  }

  .about_auth {
    font-size: 24px;
    margin-bottom: 5vh;
  }

  .about_auth span {
    font-size: 16px;
  }

  .about_text {
    font-size: 12px;
  }

  /* スキルセクション */
  .about_skills {
    height: 100vh;
  }

  .about_skill_item {
    width: 94vw;
    flex-wrap: wrap;
    margin-bottom: 8vh;
  }

  .about_skill_ttl {
    font-size: 32px;
    width: 32%;
    margin-right: 60%;
    margin-bottom: 2vh;
  }

  .about_skill_ttl::after {
    content: '';
    top: -8px;
  }

  .about_skill_img {
    width: 24%;
    max-width: 136px;
  }

  .about_skill_text {
    font-size: 12px;
    width: 70%;
  }

  /* コンタクトセクション */
  .about_contact_ttl {
    width: 90vw;
  }

}