@charset "utf-8";

/* 固定タイトル */
.ptf_fix_ttl {
  position: fixed;
  top: 24vh;
  left: 60%;
  z-index: 15;
  font-size: 10.5rem;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, .2);
}

/* ページコンテンツ */
.ptf_num {
  position: absolute;
  top: 40vh;
  left: 67%;
  font-family: "Ranga";
  font-size: 10rem;
  font-weight: 700;
  color: #00235E;
  letter-spacing: 5px;
}

.ptf_thum {
  position: absolute;
  top: 18%;
  left: 16%;
  z-index: 0;
}

.ptf_thum img {
  width: 45%;
  margin-bottom: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

.ptf_thum h3 {
  font-size: 2rem;
  color: #00235E;
  /* font-weight: 400; */
  margin-bottom: 8px;
}

.ptf_thum h3::before {
  content: '';
  display: block;
  position: relative;
  top: 1.2rem;
  left: -2rem;
  width: 1.6rem;
  border-top: 1px solid #00235E;
}

.ptf_thum > p {
  font-size: 1.4rem;
  line-height: 1.4;
  width: 45%;
  margin-bottom: 16px;
}

.ptf_thum > p::before {
  content: '';
  display: block;
  position: relative;
  top: 1.6rem;
  left: -2rem;
  width: 1.6rem;
  border-top: 1px solid #00235E;
}

.ptf_thum span {
  font-size: 2rem;
  color: #00235E;
  font-weight: 700;
}

/* ポートフォリオページリンクボタン */
.ptf_link_btn a {
  display: block;
  width: 180px;
  height: 45px;
  color: #fdba21;
  background-color: #00235e;
  border-radius: 22.5px;
  transition: color .3s, background-color .3s;
}

.ptf_link_btn p {
  font-size: 20px;
  line-height: 2.25;
  text-align: center;
  letter-spacing: 1px;
  margin-right: 20px;
}

.ptf_link_btn a::before {
  content: '';
  display: block;
  position: relative;
  top: 29px;
  left: 40px;
  width: 105px;
  height: 1px;
  background-color: #fdba21;
  border-radius: .5px;
}

.ptf_link_btn a::after {
  content: '';
  display: block;
  position: relative;
  top: -20px;
  left: 135px;
  width: 10px;
  border-top: 1px solid #fdba21;
  transform: rotate(30deg);
}

.ptf_link_btn > a:hover {
  background-color: #fdba21;
  color: #00235e;
  border: 1px solid #00235e;
  transition: color .3s, background-color .3s;
}

.ptf_link_btn a:hover::before {
  background-color: #00235e;
  transition: background-color .3s;
}

.ptf_link_btn a:hover::after {
  border-color: #00235e;
  transition: border-color .3s;
}
/* ポートフォリオページリンクボタンここまで */

/* スクロールアイコン */
.ptf_scroll_icon {
  bottom: 7.2rem;
  left: 67.5%;
  transform: none;
  animation: ptf_scroll_down 2s infinite .2s;
}

@keyframes ptf_scroll_down {
  0% {bottom: 7.2rem;}
  70% {bottom: 6.0rem}
  100% {bottom: 7.2rem;}
}
/* スクロールアイコンここまで */


/* ページネーション */
.pagination {
  position: absolute;
  bottom: 5%;
  left: 28%;
  display: flex;
}

.pagination li {
  font-size: 1.6rem;
}

.ptf_prev {
  color: #b9d1ea;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}

.ptf_prev a::before {
  content: '';
  display: block;
  position: absolute;
  top: .3rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-bottom: 1px solid;
  border-left: 1px solid;
  transform: rotate(45deg);
}

.ptf_next {
  color: #b9d1ea;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}

.ptf_next a::before {
  content: '';
  display: block;
  position: absolute;
  top: .3rem;
  left: 14rem;
  width: 1rem;
  height: 1rem;
  border-top: 1px solid;
  border-right: 1px solid;
  transform: rotate(45deg);
}

.page_num {
  pointer-events: none;
}
/* ページネーションここまで */
/* ページコンテンツここまで */


/* コンタクトエリア */
.footer_sns_link {
  height: 20vh;
  display: flex;
  margin-left: 15%;
  align-items: center;
  width: 40%;
  border-top: 1px solid #00235E;
}

.footer_sns_link li {
  font-family: "Ranga";
  font-size: 32px;
  color: #00235e;
  margin-right: 30%;
}

.footer_sns_link li:hover {
  color: #b9d1ea;
}

.ptf_backtoTop_btn {
  left: 68%;
  bottom: 8vh;
}




/* 横幅1024px以下 */
@media screen and (max-width: 1024px) {
  html {
    font-size: 10px;
  }

  body {
    font-size: 10px;
  }

  /* 縦幅768px以上 */
  @media screen and (min-height: 768px) {
    /* .ptf_fix_ttl {

    } */
  }
}