@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  font-family: "游教科書体 横用", "YuKyokasyo Yoko", "Yu Gothic", "YuGothic", "游ゴシック", "游ゴシック体", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 62.5%;
  color: #618abb;
  background-color: #fff;
}

*,*::before,*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

button {
  font-family: "Ranga", sans-serif;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

h1 {
  font-family: "Ranga", sans-serif;
  color: #fdba21;
}

h2 {
  font-family: "Ranga", sans-serif;
  color: #00235e;
}




/* ヘッダータイトル、メニュー（画面上部に固定） */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  font-family: "Ranga", sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header_ttl {
  position: relative;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: 32px;
  margin-left: 40px;
}

.header_ttl:hover {
  color: #618abb;
}

.header_menu {
  display: flex;
  margin-top: 32px;
  margin-right: 40px;
}

.header_sns_link {
  display: flex;
  margin-right: 48px;
  font-size: 2.4rem;
}

.header_sns_link a:hover {
  color: #b9d1ea;
}

.header_sns_link > li:first-child {
  margin-right: 40px;
}

.header_nav_btn {
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  width: 40px;
  height: 24px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.header_nav_btn::before {
  content: '';
  position: absolute;
  top: 4px;
  right: 0;
  width: 40px;
  height: 2px;
  background-color: #618abb;
  border-radius: 1px;
}

.header_nav_btn::after {
  content: '';
  position: absolute;
  bottom: 4px;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: #618abb;
  border-radius: 1px;
}

.header_nav_btn:hover::before,.header_nav_btn:hover::after {
  background-color: #b9d1ea;
}



/* ヘッダードロワーメニュー */
.header_nav {
  display: none;
}

.header_nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100vh;
  padding-top: 8vh;
  background-color: #00235e;
}

/* ドロワーメニューが開いた時のボタンのスタイル */
    .header_nav_active::before {
      content: '';
      position: absolute;
      top: 45%;
      right: 0;
      width: 32px;
      height: 2px;
      background-color: #fdba21;
      border-radius: 1px;
      transform: rotate(45deg);
    }

    .header_nav_active::after {
      content: '';
      position: absolute;
      bottom: 45%;
      right: 0;
      width: 32px;
      height: 2px;
      background-color: #fdba21;
      border-radius: 1px;
      transform: rotate(-45deg);
    }
/* ボタンのスタイル指定ここまで */

.header_nav_list {
  width: 80%;
  height: 84vh;
  margin: 0 auto;
  color: #fdba21;
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: center; */
  /* align-items: center; */
}

.header_nav_menu {
  width: 50%;
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: .03em;
  border-left: 1px solid #618abb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_nav_sns {
  width: 50%;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_nav_menu > li {
  margin: 32px 0 32px 80px;
}

.header_nav_sns > li {
  margin: 40px 80px 40px 0;
}
  
.header_nav_menu a {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.header_nav_menu a:hover {
  color: #618abb;
}

.header_nav_sns a {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.header_nav_sns a::before {
  content: '';
  position: absolute;
  bottom: 10px;
  right: calc(50% - 120px);
  width: 16rem;
  border-bottom: 1px solid #fdba21;
}

.header_nav_sns a::after {
  content: '';
  position: absolute;
  bottom: 10px;
  right: calc(50% - 120px);
  width: 2rem;
  border-bottom: 1px solid #fdba21;
  transform-origin: right bottom;
  transform: rotate(30deg);
}

.header_nav_sns a:hover {
  color: #618abb;
}

.header_nav_sns a:hover::before,.header_nav_sns a:hover::after {
  border-color: #618abb;
}

/* ヘッダードロワーメニューここまで */
/* ヘッダーここまで */

/* バックグラウンドイメージ */

.theme_bg {
  /* position: absolute; */

  font-family: Ranga;
  font-size: 50vh;
  font-weight: 700;
  text-indent: 1em;
  opacity: .15;
  overflow: hidden;
}