@charset "utf-8";

.theme_bg {
  position: fixed;
}

/* メインコンテンツ */
.work_wrapper {
  width: 96%;
  margin: 0 auto;
  border-top: .5px solid rgba(0, 0, 0, 0);
}

.work_ttl {
  display: inline-block;
  margin: 14% 0 10% 10%;
}

.work_ttl h2 {
  font-size: 4vw;
  font-weight: 400;
  line-height: .8;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, .2);
}

.work_ttl span {
  font-size: 8vw;
  font-weight: 700;
  letter-spacing: .2vw;
}

.work_ttl p {
  font-size: 1.4vw;
  line-height: .8;
  text-align: end;
}

/* サムネイル画像 */
.work_thumbnail {
  position: absolute;
  top: 14%;
  right: 10%;
  z-index: -5;
  width: 50%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
}

/* テーブルコンテンツ */
table {
  width: 70%;
  margin-left: 10%;
  margin-bottom: 14%;
}

th {
  width: 16%;
  height: 80px;
  font-size: 18px;
  /* font-weight: 700; */
  color: #00235E;
  text-align: start;
}

td {
  width: 84%;
  font-size: 16px;
  line-height: 1.4;
  text-align: start;
}

.work_site_link {
  display: block;
  font-size: 14px;
  text-align: end;
  margin-top: 8px;
}
/* テーブルコンテンツここまで */

/* スクロールアイコン */
.work_scroll_icon {
  bottom: 6%;
  left: 85%;
  animation: scroll_down 2s infinite .2s;
}

@keyframes scroll_down {
  0% {bottom: 6%;}
  70% {bottom: 4%;}
  100% {bottom: 6%;}
}
/* スクロールアイコンここまで */


/* 紹介ページ全体のスクショ */
.work_screenshot {
  width: 50%;
  margin: 0 auto 8vh;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
}

/* ページネーション */
.work_pagination {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  width: 50%;
  margin: 0 auto 40px;
}

.work_prev {
  position: relative;
  top: 0;
  left: 0;
  color: #b9d1ea;
  pointer-events: none;
}

.work_prev a::before {
  content: '';
  position: absolute;
  top: .2rem;
  left: -1.5rem;
  display: block;
  width: 12px;
  height: 12px;
  border-bottom: 1px solid #b9d1ea;
  border-left: 1px solid #b9d1ea;
  transform: rotate(45deg);
}

.work_visit {
  color: #00235e;
  pointer-events: none;
}

.work_next {
  position: relative;
  top: 0;
  left: 0;
  color: #b9d1ea;
  pointer-events: none;
}

.work_next a::after {
  content: '';
  position: absolute;
  top: .2rem;
  right: -1.5rem;
  display: block;
  width: 12px;
  height: 12px;
  border-top: 1px solid #b9d1ea;
  border-right: 1px solid #b9d1ea;
  transform: rotate(45deg);
}
/* ページネーションここまで */

/* トップへ戻るボタン */
.work_backtoTop_btn {
  position: absolute;
  top: 250vh;
  left: 80%;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, .2);
  opacity: 0;
}
/* 画面固定のスタイル */
.work_backtoTop_btn.btn_fix {
  position: fixed;
  top: auto;
  bottom: 12vh;
  opacity: 1;
  transition: bottom .5s, opacity .5s;
}

.work_backtoTop_btn:hover {
  color: #b9d1ea;
  text-shadow: none;
}
.work_backtoTop_btn:hover a::before {
  border-color: #b9d1ea;
}
/* トップへ戻るボタンここまで */

/* フッター */
footer {
  position: static;
  transform: none;
  text-align: center;
  padding: 2vh 0;
}



/* 横幅1024px以下 */
@media screen and (max-width: 1024px) {
  table {
    margin-bottom: 8%;
  }

  .work_screenshot {
    width: 70%;
  }

  .work_backtoTop_btn {
    left: 86%;
  }

  /* 縦幅768px以上 */
  @media screen and (min-height: 768px) {
    .work_scroll_icon {
      display: none;
    }
  }
}


/* スマホサイズ */
@media screen and (max-width: 768px) {
  .work_ttl {
    position: relative;
    margin-top: 22%;
    margin-bottom: 4%;
    margin-left: 60%;
  }

  .work_ttl h2 {
    font-size: 6vw;
  }

  .work_ttl span {
    position: absolute;
    bottom: 0;
    left: 110%;
    font-size: 12vw;
  }

  .work_ttl p {
    font-size: 3vw;
  }

  /* サムネイル画像 */
  .work_thumbnail {
    position: static;
    left: 50%;
    width: 80%;
    margin: 0 auto 5%;
  }

  /* テーブルコンテンツ */
  table {
    width: 80%;
    margin: 0 auto;
  }
}
 